<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class=" col-md-offset-2 col-md-10">
        <div class="form-container">
          <div class="form-icon">
            <i class="fa fa-user-circle"></i>
            <span class="signup"><a routerLink="/register">Pas encore de compte? Cliquez ici</a></span>
          </div>
          <form class="form-horizontal">
            <h3 class="title">Formulaire de connexion</h3>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-id-card"></i></span>
              <input class="form-control" type="text" placeholder="CNI">
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" placeholder="MOT DE PASSE">
            </div>
            <button class="btn signin">Se connecter</button>
            <span class="forgot-pass"><a href="#"> Login / Mot de passe oublié?</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
