
<div class="container presentation">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
      <h1>Eelection</h1>
      <p>Eelection est une plateforme de suivi des élections. <br>
        Vous pourrez suivre tout le déroulement des élections depuis votre salon. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Facere iste nihil odio? Ad adipisci aliquam corporis cum
        cupiditate delectus, deserunt dignissimos dolores ducimus earum et excepturi explicabo
        illum libero magnam minima minus modi neque, nulla odio odit omnis quaerat quam quisquam quos reiciendis
        reprehenderit unde veritatis voluptatem voluptatum! Sit, soluta!</p>
      <button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
      <div class="iphone-mockup"><img src="../../../assets/images/election.png" class="device" height="400px">
        <div class="screen"></div>
      </div>
    </div>
  </div>
</div>


<div class="container vote">
  <div class="row">
    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
      <div class="iphone-mockup"><img src="../../../assets/images/vote.png" class="device" height="400px">
        <div class="screen"></div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
      <h1>Voter en ligne</h1>
      <p>Eelection est une plateforme de suivi des électionsvous offre la possibilité de voter en ligne. <br>
       Effectuez votre vote sans bouger de chez vous. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Facere iste nihil odio? Ad adipisci aliquam corporis cum
        cupiditate delectus, deserunt dignissimos dolores ducimus earum et excepturi explicabo
        illum libero magnam minima minus modi neque, nulla odio odit omnis quaerat quam quisquam quos reiciendis
        reprehenderit unde veritatis voluptatem voluptatum! Sit, soluta!</p>
      <button class="btn btn-light btn-lg action-button" routerLink="/login" type="button">Voter Maintenant</button></div>
  </div>
</div>


