<div class="content">

  <div class="row">
    <div class="card">
      <div class="card-header">
       Obtenez les résultats
      </div>
      <div class="card-body">
        <h5 class="card-title">Vos résultats enn temps réel</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi consequuntur neque
          obcaecati odio, odit quisquam quos sint tenetur ut. Fuga maxime, minima. Aliquid, amet aut quam sequi sunt unde.</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="card m-lg-5 col-sm-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Résultats par région</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt dignissimos libero
          maiores minima modi, quam quo sapiente sed veritatis. Aspernatur atque culpa, fuga in laborum minima optio sed voluptas.</p>
        <button class="btn btn-outline-success" routerLink="/region">Voir les résultats</button>
      </div>
    </div>
    <div class="card m-lg-5 col-sm-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Résultats par département</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam assumenda
          consequatur cum ex expedita fugiat laudantium maiores nam, natus necessitatibus nisi omnis
          placeat praesentium qui quo rem sunt voluptatem!</p>
        <button class="btn btn-outline-success" routerLink="/departement">Voir les résultats</button>
      </div>
    </div>
    <div class="card m-lg-5 col-sm-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Carte interactive</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi architecto harum, maiores minima modi
          molestiae mollitia, neque nobis officia officiis quaerat quam quas qui quidem repudiandae, similique sunt voluptatem!.</p>
        <button class="btn btn-outline-success" routerLink="/carte">Voir la carte</button>
      </div>
    </div>
  </div>
</div>
