<div class="row">
  <div class="col-md-3">
    <button class="btn btn-success" routerLink="/resultats"><i class="fa fa-backward"></i></button>
  </div>
</div>
<div class="container" *ngIf="departements">
  <table class="table  table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>NOM</th>
      <th>Nombre de bureaux</th>
      <th>nombre d'électeurs</th>
      <th>SUFFARGES VALABLES</th>
      <th>SUFFRAGES INVALIDES</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dept of departements ">

      <td>{{dept.id}}</td>
      <td>{{dept.name}}</td>
      <td>{{dept.bureaux}}</td>
      <td>{{dept.electeurs}}</td>
      <td>{{dept.suffrage_invalide}}</td>
      <td>{{dept.suffrage_valable}}</td>
    </tr>
    </tbody>
  </table>
</div>

